<div id="registration-form">
  <h1><%= title 'Registrace' %></h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%#= render "devise/shared/error_messages", resource: resource %>
    <%#= render 'shared/flashes' %>


    <div class="form-input-container">
      <%= f.text_field :first_name, autofocus: true, class: 'form-input input-enter-active', placeholder: 'Jméno' %>
      <%= f.text_field :last_name, class: 'form-input input-enter-active', placeholder: 'Příjmení' %>
    </div>

    <div class="form-input-container">
      <%= f.email_field :email, autocomplete: "email", class: 'form-input input-enter-active', placeholder: 'Email' %>
      <%= f.text_field :phone_number, class: 'form-input input-enter-active', placeholder: 'Tel. číslo' %>
      <%= f.text_field :company_name, class: 'form-input input-enter-active', placeholder: 'Jméno vaší společnosti' %>
      <%= f.text_field :ico, class: 'form-input input-enter-active', placeholder: 'IČO' %>
      <%= f.text_field :company_address, class: 'form-input input-enter-active', placeholder: 'Adresa společnosti' %>
    </div>

    <div class="form-input-container">
      <%= f.password_field :password, autocomplete: "new-password", class: 'form-input input-enter-active', placeholder: 'Heslo (Min. 6 znaků)' %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-input input-enter-active', placeholder: 'Potvrdit heslo' %>
    </div>

    <div class="actions buttons-container">
      <%= button_tag type: 'submit', class: 'button-primary' do %>
        <div><i class="fas fa-user-plus" aria-label="Registration icon"></i> Zaregistrovat</div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>

</div>
