<div class="navbar navbar-expand-md navbar-prostormat px-5">
  <div class="container-fluid d-flex justify-content-between">
    <%= link_to root_path, class: 'navbar-brand' do  %>
      <%= image_tag('PROSTORMAT_logo 1.svg', width: 130) %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarMenu">
      <div class="navbar-nav ms-auto d-flex align-items-center">

        <% if user_signed_in? && current_user.places && current_user.admin? %>
          <div class="nav-item active d-flex justify-content-center me-2">
            <%= link_to "Domů", root_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Upravit prostory", admin_places_path, class: "nav-link me-2" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Prostory", places_path, class: "nav-link me-2" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Nový prostor", new_place_path, class: "nav-link me-2" %>
          </div>
          <div class="nav-link">
            <%= link_to "Logout", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
          </div>

        <% elsif user_signed_in? && current_user.places.empty? %>
          <div class="nav-item active d-flex justify-content-center me-2">
            <%= link_to "Domů", root_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center me-2">
            <%= link_to "Hromadná poptávka", new_bulk_order_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Nový prostor", new_place_path, class: "nav-link me-2" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Prostory", places_path, class: "nav-link me-2" %>
          </div>
          <div class="nav-link">
            <%= link_to "Logout", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
          </div>

        <% elsif user_signed_in? && current_user.places.first.hidden %>
          <div class="nav-item active d-flex justify-content-center me-2">
            <%= link_to "Domů", root_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center me-2">
            <%= link_to "Hromadná poptávka", new_bulk_order_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Zaplatit za prostor", stripe_checkout_path, class: "nav-link me-2" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Prostory", places_path, class: "nav-link me-2" %>
          </div>
          <div class="nav-link">
            <%= link_to "Logout", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
          </div>

        <% elsif user_signed_in? && !current_user.places.first.hidden %>
          <div class="nav-item active d-flex justify-content-center me-2">
            <%= link_to "Domů", root_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center me-2">
            <%= link_to "Hromadná poptávka", new_bulk_order_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Můj prostor", place_path(current_user.places.first), class: "nav-link me-2" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Prostory", places_path, class: "nav-link me-2" %>
          </div>
          <div class="nav-link">
            <%= link_to "Logout", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
          </div>

        <% else %>
          <div class="nav-item d-flex justify-content-center me-2">
            <%= link_to "Domů", root_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center me-2">
            <%= link_to "Hromadná poptávka", new_bulk_order_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to new_user_session_path, class: "button-secondary" do %>
              <div>
                <%= raw File.read(Rails.root.join('app', 'assets', 'images', 'registration.svg')) %>
                Přihlásit se
              </div>
            <% end %>
          </div>
          <div class="nav-item d-flex justify-content-center me-2">
            <%= link_to places_path, class: "button-primary" do %>
              <div>
                <%= raw File.read(Rails.root.join('app', 'assets', 'images', 'sign-hanging-solid.svg')) %>
                Prostory
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
