<div class="navbar navbar-expand-sm navbar-prostormat">
  <div class="container-fluid d-flex justify-content-between">
    <%= link_to root_path, class: 'navbar-brand' do  %>
      <%= image_tag('PROSTORMAT_logo 1', width: 130) %>
    <% end %>
    <div>
      <div class="navbar-nav d-flex align-items-center me-auto">
        <% if user_signed_in? && current_user.place.nil? %>
          <div class="nav-item active d-flex justify-content-center me-2">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Nový prostor", new_place_path, class: "nav-link me-2" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Prostory", places_path, class: "nav-link me-2" %>
          </div>
          <div class="nav-link">
            <%= link_to "Logout", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
          </div>
        <% elsif user_signed_in? && current_user.place && current_user.premium == false %>
          <div class="nav-item active d-flex justify-content-center me-2">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Staňte se členy", stripe_checkout_path, class: "nav-link me-2" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Prostory", places_path, class: "nav-link me-2" %>
          </div>
          <div class="nav-link">
            <%= link_to "Logout", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
          </div>
        <% elsif user_signed_in? && current_user.place && current_user.premium == true %>
          <div class="nav-item active d-flex justify-content-center me-2">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Můj prostor", place_path(current_user.place), class: "nav-link me-2" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Prostory", places_path, class: "nav-link me-2" %>
          </div>
          <div class="nav-link">
            <%= link_to "Logout", destroy_user_session_path, class: "nav-link", data: {turbo_method: :delete} %>
          </div>
        <% else %>
          <div class="nav-item d-flex justify-content-center me-2">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center me-2">
            <%= link_to "Nový prostor", new_user_registration_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center me-2">
            <%= link_to "Prostory", places_path, class: "nav-link" %>
          </div>
          <div class="nav-item d-flex justify-content-center">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
