<% @places.each do |place| %>
  <div class="card-index d-flex flex-column justify-content-between">
    <%= cl_image_tag place.photos.first.key, height: 200, crop: :fill %>
    <div class="d-flex justify-content-between">
      <p><%= place.street %></p>
      <div class="d-flex align-items-center">
        <%= image_tag('person-grey.svg', width: 10, class: "person-icon-margin-right") %>
        <!-- TODO: Change this -->
        <p><%#= place.largest_venue_capacity == place.smallest_venue_capacity ? "#{place.largest_venue_capacity}" : "#{place.smallest_venue_capacity} - #{place.largest_venue_capacity}" %></p>
      </div>
    </div>
    <div class="d-flex align-items-center justify-content-between">
      <h5 class="m-0 card-title-width"><%= place.place_name.truncate(22) %></h5>
      <%= link_to place_path(place) do %>
        <%= image_tag('arrow_right.svg', width: 25) %>
      <% end %>
    </div>
  </div>
<% end %>
