<div class="filters-container">
  <%= form_with url: places_path, method: :get do |f| %>
    <%= text_field_tag :query,
    params[:query],
    placeholder: "Adresa, město nebo jméno...",
    class: "search-bar me-2" %>

    <div class="h-divider"></div>

    <div class="capacity-filter-container">
      <%= number_field_tag :min_capacity,
          params[:min_capacity],
          placeholder: 'Min. kapacita',
          class: "capacity-input min-input-margin" %>

      <%= number_field_tag :max_capacity,
      params[:max_capacity],
      placeholder: 'Max. kapacita',
      class: "capacity-input" %>

      <div class="v-divider"></div>

      <%= render 'shared/custom_select', input_classes: '' %>

      <div class="v-divider"></div>

      <%= f.submit 'Vyhledat', class: "button-primary" %>
    </div>
  <% end %>
</div>
