<!-- Move form to the top -->

<% set_meta_tags title: "Kontakt a FAQ - Prostormat",
  description: "Máte otázky ohledně pronájmu nebo registrace prostoru na Prostormatu? Kontaktujte nás nebo si projděte naše Často kladené dotazy.",
  keywords: "pronájem prostor, rezervace prostor, kontakt, FAQ, časté dotazy, Prostormat",
  og: {
    title: "Kontakt a FAQ - Prostormat",
    description: "Máte otázky ohledně pronájmu nebo registrace prostoru na Prostormatu? Kontaktujte nás nebo si projděte naše Často kladené dotazy.",
    type: 'website',
    url: faq_contact_url
  }
%>
<div id="faq-contact-us-container" class="container">
  <div id="contact-us-container">
    <h2>Napište nám</h2>
    <%= form_with url: contact_path, method: :post, local: true, data: { controller: "turnstile", turnstile_sitekey_value: ENV.fetch('TURNSTILE_SITE_KEY'), turnstile_target: "form", turnstile_sitekey_visible_value: ENV.fetch('TURNSTILE_SITE_KEY_VISIBLE') } do |form| %>
      <div class="contact-input-container">
        <%= form.text_field :name, required: true, placeholder: 'Vaše jméno' %>
        <%= form.email_field :email, required: true, placeholder: 'Váš email' %>
        <%= form.text_field :subject, required: true, maxlength: 80, placeholder: 'Předmět'  %>
      </div>

      <div class="contact-input-container">
        <%= form.text_area :message, required: true, placeholder: 'Vaše zpráva' %>
      </div>

      <div>
        <!-- Turnstile captcha -->
        <%= render 'shared/turnstile' %>
        <%= form.submit 'Send', class: 'button-primary w-100', data: { turnstile_target: "submit" } %>
      </div>
    <% end %>
  </div>
  <div id="faq-container">
    <h2>Často kladené dotazy (FAQ)</h2>
    <div class="questions">
      <div>
        <h3 class="question-title">Jak mohu vytvořit účet?</h3>
        <p class="answer-padding">Pro vytvoření účtu klikněte na tlačítko "Registrace" v pravém horním rohu stránky a vyplňte požadované informace. Po dokončení registrace vám bude zaslán potvrzovací email.</p>
      </div>
      <div>
        <h3 class="question-title">Jakým způsobem mohu provést platbu?</h3>
        <p class="answer-padding">Přijímáme řadu platebních metod, včetně kreditních karet, debetních karet a online platebních služeb. Vyberte si z nabízených možností tu, která vám nejvíce vyhovuje.</p>
      </div>
      <div>
        <h3 class="question-title">Mohu změnit nebo zrušit svou objednávku?</h3>
        <p class="answer-padding">Ano, změny nebo zrušení objednávky je možné provést do 24 hodin od jejího zadání. Pro změnu nebo zrušení vaší objednávky nás prosím kontaktujte přes formulář na našich webových stránkách.</p>
      </div>
      <div>
        <h3 class="question-title">Jak mohu sledovat stav mé objednávky?</h3>
        <p class="answer-padding">Po odeslání objednávky obdržíte email s číslem pro sledování. Pomocí tohoto čísla můžete na našem webu sledovat aktuální stav vaší objednávky.</p>
      </div>
      <div>
        <h3 class="question-title">Co dělat, pokud je produkt poškozený nebo chybí?</h3>
        <p class="answer-padding">Pokud obdržíte poškozený produkt nebo pokud vaší objednávce něco chybí, kontaktujte nás prosím do 48 hodin od převzetí zásilky a my se postaráme o rychlé vyřešení situace.</p>
      </div>
    </div>
  </div>
</div>
