<% set_meta_tags site: 'Prostormat',
                 canonical: root_url,
                 og: {
                   type: 'website',
                   url: root_url,
                   image: asset_url('main_photo.jpg')
                 } %>
<div id="landing-page">
  <section class="d-flex" id="main-section" aria-label="background image of people eating" style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0) 10%, rgba(255, 255, 255, 0.0)), url('<%= asset_path('main_photo.jpg') %>'); background-repeat: no-repeat; background-position: center; background-size: cover;">
    <div class="main-section-container">
      <div class="content-wrapper">
        <h1 class="title"><%= title 'Vítejte na Prostormatu!' %></h1>
        <p class="subtitle">
          Potřebujete prostor pro vaší akci?
          <br>
          U nás najdete!
        </p>
        <%= render 'shared/search_and_filter_capacity' %>
      </div>
    </div>
  </section>

  <section class="section-how-it-works" id="section-how-it-works">
    <div class="how-works-container">
      <h2>Jak to funguje?</h2>
      <div class="shapes">
        <div class="shape-shadow">
          <div class="shape">
            <h3>Vyhledejte prostor <a href="/places">zde!</a></h3>
            <p>Klikněte na link uvedený ve slově zde! A vyhledejte svůj prostor.</p>
          </div>
        </div>
        <div class="shape-shadow">
          <div class="shape">
            <h3>Pošlete poptávku!</h3>
            <p>Po výběru prostoru můžete poslat poptávku přímo vlastníkovi prostoru!</p>
          </div>
        </div>
        <div class="shape-shadow">
          <div class="square">
            <h3>Máte event!</h3>
            <p>Po dohodě detailů s majitelem prostoru máte event!</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-sample-spaces" id="section-sample-spaces">
    <div class="sample-spaces-container">
      <h2 class="top-places-title">Top <span class="geen-underline">Prostory</span></h2>
      <div class="spaces-cards my-4 w-100" id="index-card-grid" data-controller="search">
        <%= render 'shared/places_card_grid' %>
      </div>
    </div>
  </section>

  <section class="register-new-place" id="register-new-place">
    <div class="register-container">
      <h2>Máte prostor?</h2>
      <p>Zaregistrujte se a přidejte se ke stovkám dalších majitelů, kterří vydělávají na svých prostorech!</p>
      <%= link_to new_user_registration_path, class: "button-primary" do %>
        <div><i class="fas fa-user-plus" aria-label="Registration icon"></i> Registrace zde!</div>
      <% end %>
    </div>
  </section>
</div>
