<!-- TODO: Search/filter by location nuber of guests -->
<!-- TODO: Další služby section -->
<!-- TODO: Footer -->
<!-- TODO: Další služby controller and model -->
<!-- TODO: Form for we'll organize the event -->
<!-- TODO: Moving pictures on the landing page as is on design site but constantly changing location -->
<div id="landing-page">
  <section class="d-flex" id="main-section">
    <div class="container col-6 me-5">
      <h1 class="title mb-5">
        Potřebujete <span class="text-gradient">prostor</span>
        <br>
        pro <span class="transparent-title">vaše</span> akce?
        <br>
        U nás najdete!
      </h1>
      <%= render 'shared/search_and_filter_capacity' %>
    </div>
    <div class="moving-picture-display col-6 d-flex flex-column spacing">
      <div class="d-flex spacing">
        <div class="square background-color-grey horizontal-rectangle-long-thick"></div>
        <div class="square background-color-transparent horizontal-rectangle-long-thick"></div>
        <div class="square background-color-red horizontal-rectangle-short-thick"></div>
      </div>
      <div class="d-flex spacing">
        <div class="d-flex flex-column spacing">
          <div class="square background-color-transparent vertical-rectangle-short-thick"></div>
          <div class="square background-color-grey vertical-rectangle-long-thick"></div>
          <div class="square background-color-red vertical-rectangle-short-thick"></div>
        </div>
        <div class="d-flex flex-column spacing">
          <div class="d-flex spacing">
            <div class="square background-color-purple big-square"></div>
            <div class="d-flex flex-column spacing">
              <div class="square background-color-red meddium-square"></div>
              <div class="d-flex spacing">
                <div class="square background-color-grey vertical-rectangle-short-thick"></div>
                <div class="square background-color-grey vertical-rectangle-short-thick"></div>
              </div>
            </div>
          </div>
          <div class="d-flex spacing">
            <div class="square background-color-black medium-square"></div>
            <div class="d-flex flex-column spacing">
              <div class="square background-color-grey horizontal-rectangle-short-thick"></div>
              <div class="square background-color-orange horizontal-rectangle-short-thick"></div>
            </div>
            <div class="square background-color-red medium-square" style="width: 170px;"></div>
          </div>
          <div class="d-flex spacing">
            <div class="square background-color-transparent horizontal-rectangle-short-slim"  style="width: 100px"></div>
            <div class="square background-color-black horizontal-rectangle-short-slim"></div>
            <div class="square background-color-orange horizontal-rectangle-long-thick" style="width: 170px;"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-how-it-works" id="section-how-it-works">
    <div class="container d-flex flex-column align-items-center ">
      <h2 class="mt-4">Proč prostormat?</h2>
      <div class="icon-grid">
        <div class="icon-card text-center d-flex align-items-center justify-content-center flex-column card-spacing">
          <%= image_tag('sign-hanging-solid.svg', width: 90, class: 'how-it-works-icon') %>
          <div class="text-column d-flex flex-column align-items-center justify-content-center">
            <h3>Zaregistrujte váš prostor</h3>
          </div>
        </div>
        <div class="icon-card text-center d-flex align-items-center justify-content-center flex-column card-spacing">
          <%= image_tag('calendar-day-solid.svg', height: 90, class: 'how-it-works-icon') %>
          <div class="text-column d-flex flex-column align-items-center justify-content-center">
            <h3>Roční členství</h3>
          </div>
        </div>
        <div class="icon-card text-center d-flex align-items-center justify-content-center flex-column card-spacing">
          <%= image_tag('money-bill-trend-up-solid.svg', width: 90, class: 'how-it-works-icon') %>
          <div class="text-column d-flex flex-column align-items-center justify-content-center">
            <h3>Vydělávejte!</h3>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section-sample-spaces" id="section-sample-spaces">
    <div class="container d-flex flex-column align-items-center ">
      <h2 class="mt-5">Naše prostory</h2>
      <div class="spaces-cards my-4 w-100" id="index-card-grid" data-controller="search">
        <%= render 'shared/places_card_grid' %>
      </div>
      <%= link_to 'Všechny prostory', places_path, class: "button-secondary w-50" %>
    </div>
    <%#= button_to 'Billing', stripe_billing_path, class: 'button-primary', data: { turbo: 'false' } %>
  </section>
</div>
