<div>
  <section class="banner">

  </section>

  <section class="d-flex flex-column align-items-center section-how-it-works">
    <h2>Jak to funguje?</h2>
    <div class="icon-grid">
      <div class="icon-card text-center p-4 d-flex align-items-center justify-content-center flex-column">
        <%= image_tag('calendar-day-solid', height: 90, class: 'how-it-works-icon my-3') %>
        <div class="text-column d-flex flex-column align-items-center justify-content-center">
          <h3>Roční členství</h3>
        </div>
      </div>
      <div class="icon-card text-center p-4">
        <%= image_tag('sign-hanging-solid', width: 90, class: 'how-it-works-icon my-3') %>
        <div class="text-column d-flex flex-column align-items-center justify-content-center">
          <h3>Zaregistrujte váš prostor</h3>
        </div>
      </div>
      <div class="icon-card text-center p-4">
        <%= image_tag('money-bill-trend-up-solid', width: 90, class: 'how-it-works-icon my-3') %>
        <div class="text-column d-flex flex-column align-items-center justify-content-center">
          <h3>Vydělávejte!</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="d-flex flex-column align-items-center text-center section-sample-spaces">
    <h2>Naše prostory</h2>
    <div class="spaces-cards my-5">
      <% @random_places.each do |place| %>
        <div class="d-flex flex-column align-items-center">
          <div class="space-card">
            <div class="image-placeholder"></div>
            <%= place.place_name %>
            <%= place.address.truncate(15) %>
            <%= place.venues.count %>
          </div>
          <%= link_to 'Zobrazit', place_path(place), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <%= link_to 'Všechny prostory', places_index_path, class: "btn btn-primary w-50" %>
  </section>

</div>
