<div id="landing-page">
  <% if Place.last && Place.last.photos.attached? %>
    <% image_url = url_for(Place.last.photos.first) %>
  <% else %>
    <% image_url = asset_path('Ribs_Of_Prague-09.jpg') %>
  <% end %>
  <section class="d-flex" id="main-section" style="background: linear-gradient(to bottom, rgba(255, 255, 255, 0.0) 30%, #F1F1F1), url('<%= image_url %>'); background-repeat: no-repeat; background-position: center; background-size: cover;">
    <div class="main-section-container">
      <h1 class="title">
        Vítejte na Prostormatu!
      </h1>
      <p class="subtitle">
        Potřebujete prostor pro vaší akci?
        <br>
        U nás najdete!
      </p>
      <div class="filters-container">
        <%= form_with url: places_path, method: :get do |f| %>
          <%= text_field_tag :query,
          params[:query],
          placeholder: "Adresa nebo město...",
          class: "search-bar me-2" %>

          <div class="h-divider"></div>

          <div class="capacity-filter-container">
            <div class="capacity-icon capacity-icon"><%= raw File.read(Rails.root.join('app', 'assets', 'images', "capacity.svg")) %></div>
            <%= number_field_tag :min_capacity,
                params[:min_capacity],
                placeholder: "#{Place.minimum(:max_capacity)}",
                class: "capacity-input" %>

            <div class="arrow-icon capacity-icon"><%= raw File.read(Rails.root.join('app', 'assets', 'images', 'arrow_right.svg')) %></div>
            <%= number_field_tag :max_capacity,
            params[:max_capacity],
            placeholder: "#{Place.maximum(:max_capacity)}",
            class: "capacity-input" %>

            <div class="v-divider"></div>

            <div class="custom-select" data-controller="filter-select" data-action="click->filter-select#rollOutSelect">Filtry <%= raw File.read(Rails.root.join('app', 'assets', 'images', 'plus.svg')) %>
              <div class="select-items" data-filter-select-target="selectItems" style="display: none;">
                <% Filter.all.each do |filter| %>
                  <div class="item" data-action="click->filter-select#selectOption" data-filter-id="<%= filter.id %>">
                    <%= filter.name.capitalize %>
                  </div>
                <% end %>
              </div>
            </div>

            <div class="v-divider"></div>

            <%= f.submit 'Vyhledat', class: "button-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <section class="section-how-it-works" id="section-how-it-works">
    <div class="how-works-container">
      <h2>Jak to funguje?</h2>
      <div class="shapes">
        <span class="shape-shadow">
          <div class="shape">
            <h3>Vyhledejte prostor <a href="/places">zde!</a></h3>
            <p>Klikněte na link uvedený ve slově zde! A vyhledejte svůj prostor.</p>
          </div>
        </span>
        <span class="shape-shadow">
          <div class="shape">
            <h3>Pošlete poptávku!</h3>
            <p>Po výběru prostoru můžete poslat poptávku přímo vlastníkovi prostoru!</p>
          </div>
        </span>
        <div class="square">
          <h3>Máte event!</h3>
          <p>Po dohodě detailů s majitelem prostoru máte event!</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-sample-spaces" id="section-sample-spaces">
    <div class="d-flex flex-column align-items-center sample-spaces-container">
      <h2 class="top-places-title">Top <span class="geen-underline">Prostory</span></h2>
      <div class="spaces-cards my-4 w-100" id="index-card-grid" data-controller="search">
        <%= render 'shared/places_card_grid' %>
      </div>
      <%#= link_to 'Všechny prostory', places_path, class: "button-secondary w-50" %>
    </div>
    <%#= button_to 'Billing', stripe_billing_path, class: 'button-primary', data: { turbo: 'false' } %>
  </section>

  <section class="register-new-place" id="register-new-place">
    <div class="register-container">
      <h2>Máte prostor?</h2>
      <p>Zaregistrujte se a přidejte se ke stovkám dalších majitelů, kterří vydělávají na svých prostorech!</p>
      <%= link_to new_user_registration_path, class: "button-primary" do %>
        <div><%= raw File.read(Rails.root.join('app', 'assets', 'images', "registration.svg")) %> Registrace zde!</div>
      <% end %>
    </div>
  </section>
</div>
