<!-- TODO: Search/filter by location nuber of guests -->
<!-- TODO: Další služby section -->
<!-- TODO: Footer -->
<!-- TODO: Další služby controller and model -->

<section class="banner" id="banner">
  <div class="banner-background-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_path('moonclub-interier') %>)">
    <div class="container banner-size">
      <h1 class="banner-title-position">Najděte prostor svých snů</h1>
      <%= render 'shared/search_bar' %>
    </div>
    <%= link_to "#section-sample-spaces" do %>
      <%= image_tag('arrow-down-banner', class: "arrow-down-position mb-3") %>
    <% end %>
  </div>
</section>

<section class="section-how-it-works" id="section-how-it-works">
  <div class="container d-flex flex-column align-items-center ">
    <h2 class="mt-4">Jak to funguje?</h2>
    <div class="icon-grid">
      <div class="icon-card text-center p-4 d-flex align-items-center justify-content-center flex-column">
        <%= image_tag('calendar-day-solid', height: 90, class: 'how-it-works-icon my-3') %>
        <div class="text-column d-flex flex-column align-items-center justify-content-center">
          <h3>Roční členství</h3>
        </div>
      </div>
      <div class="icon-card text-center p-4">
        <%= image_tag('sign-hanging-solid', width: 90, class: 'how-it-works-icon my-3') %>
        <div class="text-column d-flex flex-column align-items-center justify-content-center">
          <h3>Zaregistrujte váš prostor</h3>
        </div>
      </div>
      <div class="icon-card text-center p-4">
        <%= image_tag('money-bill-trend-up-solid', width: 90, class: 'how-it-works-icon my-3') %>
        <div class="text-column d-flex flex-column align-items-center justify-content-center">
          <h3>Vydělávejte!</h3>
        </div>
      </div>
    </div>
    </div>
  </section>

<section class="section-sample-spaces" id="section-sample-spaces">
  <div class="container d-flex flex-column align-items-center ">
    <h2 class="mt-4">Naše prostory</h2>
    <div class="spaces-cards spaces-cards-landing-page my-5">
      <% @random_places.each do |place| %>
        <div class="d-flex flex-column align-items-center">
          <div class="space-card p-2">
            <div class="text-left">
              <div class="image-placeholder"></div>
              <p class="vanues-color">Prostrů k pronájmu: <%= place.venues.count %></p>
              <div class="title-container py-3">
                <h4 class="space-card-title"><%= place.place_name %></h4>
              </div>
              <p class="my-3"><%= place.address.truncate(15) %></p>
              <hr>
              <div>
                <%= link_to 'Zobrazit', place_path(place), class: "btn btn-dark w-100" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to 'Všechny prostory', places_index_path, class: "btn btn-dark w-50" %>
  </div>
</section>
