<div>
  <section class="banner">

  </section>

  <section class="d-flex flex-column align-items-center section-how-it-works">
    <h2>Jak to funguje?</h2>
    <div class="icon-grid">
      <div class="icon-card text-center p-4 d-flex align-items-center justify-content-center flex-column">
        <%= image_tag('calendar-day-solid', height: 90, class: 'how-it-works-icon my-3') %>
        <div class="text-column d-flex flex-column align-items-center justify-content-center">
          <h3>Roční členství</h3>
        </div>
      </div>
      <div class="icon-card text-center p-4">
        <%= image_tag('sign-hanging-solid', width: 90, class: 'how-it-works-icon my-3') %>
        <div class="text-column d-flex flex-column align-items-center justify-content-center">
          <h3>Zaregistrujte váš prostor</h3>
        </div>
      </div>
      <div class="icon-card text-center p-4">
        <%= image_tag('money-bill-trend-up-solid', width: 90, class: 'how-it-works-icon my-3') %>
        <div class="text-column d-flex flex-column align-items-center justify-content-center">
          <h3>Vydělávejte!</h3>
        </div>
      </div>
    </div>
  </section>

  <section class="d-flex flex-column align-items-center section-sample-spaces">
    <h2>Naše prostory</h2>
    <div class="spaces-cards my-5">
      <% @random_places.each do |place| %>
        <div class="d-flex flex-column align-items-center">
          <div class="space-card p-2">
            <div class="text-left">
              <div class="image-placeholder"></div>
              <p class="vanues-color">Prostrů k pronájmu: <%= place.venues.count %></p>
              <div class="title-container py-3">
                <h4 class="space-card-title"><%= place.place_name %></h4>
              </div>
              <p class="my-3"><%= place.address.truncate(15) %></p>
              <hr>
              <div>
                <%= link_to 'Zobrazit', place_path(place), class: "btn btn-primary w-100" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to 'Všechny prostory', places_index_path, class: "btn btn-primary w-50" %>
  </section>

</div>
