<div id="bulk-order-container" class="container">
  <h1><%= title 'Hromadná poptávka' %></h1>
  <p class="my-2">
    Zde můžete vyplnit jaké místo hledáte a my už kontaktujeme místa dle vašeho výběru za vás!
    <br>
    Stačí jen vyplnit údaje níže a o zbytek se postaráme my.
  </p>

  <%= form_with model: @bulk_order_form, url: create_bulk_order_path, local: true do |f| %>
    <div class="bulk-order-inputs-group">
      <%= f.text_field :full_name, placeholder: 'Jméno', class: 'input-enter-active' %>
      <%= f.text_field :email, placeholder: 'Email', class: 'input-enter-active' %>
      <%= f.text_field :phone_number, placeholder: 'Tel. číslo', class: 'input-enter-active' %>
    </div>

    <div class="bulk-order-inputs-group">
      <%= f.text_field :city, placeholder: 'Město', class: 'input-enter-active' %>
      <%= f.number_field :min_capacity, placeholder: 'Kapacita např. 100', class: 'input-enter-active' %>
      <%= render 'shared/custom_select', input_classes: 'input-enter-active' %>
    </div>

    <%= f.submit 'Odeslat poptávku', class: 'button-primary my-4 w-100' %>
    <div class="cf-turnstile" data-sitekey="<%= ENV.fetch('TURNSTILE_SITE_KEY') %>"></div>
  <% end %>
</div>
