<div id="login-container" class="d-flex justify-content-center align-items-center flex-column">
  <h1><%= title 'Přihlášení' %></h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-width' }) do |f| %>
    <div class="field">
      <%= f.label :email, class: 'text-inputs-label' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'text-inputs-label' %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="d-flex align-itmes-center field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: 'check-box-label' %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Přihlásit se", class: 'button-primary w-100 my-3' %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
