<h1>Zde je hormadné objednávka</h1>

<br />

<p>Zákazník: <span class="highlight"><%= @name %></span> - <span class="highlight"><%= @email %></span></p>

<br />

<p>Datum: <span class="highlight"><%= @date.strftime("%d.%m.%Y") %></span></p>

<br />

<p>Zpráva: <br /> <span class="highlight"><%= @message %></span></p>

<br />

<p>For these places:</p>

<ul>
  <% @places.each do |place| %>
    <li>
      <span>
        <span class="highlight">
          <%= place.place_name %>
        </span>
        -
        <%= place.full_address %>
        -
        <a href="mailto:<%= place.user.email %>">
          <%= place.user.email %>
        </a>
      </span>
    </li>
  <% end %>
</ul>
