<h1>This is your bulk order</h1>

<p>Came from: <%= @name %> - <%= @email %></p>
<p>For these places:</p>

<ul>
  <% @places.each do |place| %>
    <li><%= place.place_name %> - <%= place.full_address %> - <%= place.user.email %></li>
  <% end %>
</ul>
