<!-- TODO: Pagination by 20 -->
<div class="container index-places-container">
  <h1 class="my-4">Nejlepší prostory pro váš event!</h1>
  <div>
    <div class="filters d-flex flex-column align-items-center">
      <h4>Filtrujte</h4>
      <div>
        <%= form_with url: places_path, method: :get, data: { turbo_frame: "places_list"}, class: "d-flex justify-content-center p-2" do |form| %>
          <% @filters.each do |filter| %>
            <div class="d-flex">
              <div>
                <%= check_box_tag "filters[]", filter.id, params[:filters]&.include?(filter.id.to_s), id: "filters_#{filter.id}", onchange: "this.form.requestSubmit();", class: 'me-2 form-check-input' %>
              </div>
              <div class="me-2">
                <%= label_tag "filters[#{filter.id}]", filter.name.capitalize %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="mb-5">
      <%= render 'shared/search_and_filter_capacity' %>
  </div>

  <div class="spaces-cards" id="index-card-grid" data-controller="search">
    <%= render 'shared/places_card_grid' %>
  </div>

  <div class="d-flex justify-content-center w-100">
    <%= paginate @places, params: request.query_parameters %>
  </div>
</div>
