<div id="new-place-form" data-controller="loader">
  <h1><%= title 'Vytvořte váš prostor' %></h1>
  <%= form_for @place, html: { id: 'place-form', 'data-turbo': 'false' }, data: { controller: "format-new-place-data", context: 'new-place', action: 'submit->loader#startLoading' } do |f| %>

    <div class="input-container">
      <%= f.text_field :place_name, placeholder: 'Jméno prostoru', class: 'form-input input-enter-active' %>
    </div>

    <div class="input-container">
      <%= f.text_field :street, placeholder: 'Ulice', class: 'form-input input-enter-active' %>
      <%= f.text_field :house_number, placeholder: 'Číslo popisné', class: 'form-input input-enter-active' %>
      <%= f.text_field :postal_code, placeholder: 'Poštovní směrovací číslo', class: 'form-input input-enter-active', data: { format_new_place_data_target: 'postalCodeInput', action: 'blur->format-new-place-data#formatPostalCode' } %>
      <%= f.text_field :city, placeholder: 'Město', class: 'form-input input-enter-active' %>
    </div>

    <div class="input-container">
      <%= f.number_field :max_capacity, min: 10, step: 10, placeholder: 'Kapacita', class: 'form-input input-enter-active' %>
      <%= render 'shared/custom_select', input_classes: 'input-enter-active' %>
      <label for="place_photos" class="file-upload-input input-enter-active" tabindex="0" role="button" data-action="keydown->format-new-place-data#openFileUpload">
        <p>Vyberte fotky</p>
        <%= f.file_field :photos, multiple: true, class: 'form-input input-enter-active', id: 'place_photos', data: { action: 'change->format-new-place-data#updatePhotoLabel'} %>
      </label>
    </div>

    <div class="input-container flex-column" data-controller="char-counter" data-char-counter-max-value="50">
      <%= f.text_area :short_description, placeholder: 'Je moderní, minimalistický... A teď vy...', class: 'form-input input-enter-active', data: { action: 'input->char-counter#count', char_counter_target: 'textarea' } %>
      <div data-char-counter-target="counter" class="char-counter">0/50</div>
    </div>

    <div class="input-container flex-column" data-controller="char-counter" data-char-counter-max-value="120">
      <%= f.text_area :long_description, placeholder: 'Pokud máte více prostorů v rámci vašeho komplexu povězte nám o nich...', height: 400, class: 'form-input input-enter-active long-description-text-area-height', data: { action: 'input->char-counter#count', char_counter_target: 'textarea' } %>
      <div data-char-counter-target="counter" class="char-counter">Musí být přes 120 znaků máte 0</div>
    </div>
    <%= f.submit "Vytvořte prostor", class: 'hidden-submit button-primary my-3 w-100' %>

    <div class="cf-turnstile" data-sitekey="<%= ENV.fetch('TURNSTILE_SITE_KEY') %>"></div>
  <% end %>

  <div class="loader-container" data-loader-target="loaderContainer">
    <h2 class="loader-message" data-loader-target="loaderMessage"></h2>
    <div>
      <div class="loader" data-loader-target="loader"></div>
      <div class="loader-percentage" data-loader-target="percentage"></div>
    </div>
  </div>
</div>
