<div id="new-place-form">
  <h1>Vytvořte vaše porstory</h1>

  <%= form_for @place, html: { id: 'place-form', 'data-turbo': 'false' }, data: { controller: 'multi-step-form' } do |f| %>

    <div class="input-container">
      <%= f.label :place_name, 'Jak se jmenuje místo kde máte porstory?', class: 'form-label label-enter-active' %>
      <%= f.text_field :place_name, placeholder: 'The Ritz...', class: 'form-input form-control input-enter-active' %>
    </div>

    <div class="d-flex input-container">
      <div class="input-container col-6">
        <%= f.label :street, 'Ulice', class: 'form-label label-enter-active' %>
        <%= f.text_field :street, placeholder: 'Pařížská', class: 'form-input form-control input-enter-active' %>
      </div>


      <div class="input-container col-6">
        <%= f.label :house_number, 'Číslo popisné', class: 'form-label label-enter-active' %>
        <%= f.text_field :house_number, placeholder: '345/23', class: 'form-input form-control input-enter-active' %>
      </div>
    </div>

    <div class="d-flex input-container">
      <div class="input-container col-6">
        <%= f.label :postal_code, 'ZIP', class: 'form-label label-enter-active' %>
        <%= f.text_field :postal_code, placeholder: '130 00', class: 'form-input form-control input-enter-active' %>
      </div>

      <div class="input-container col-6">
        <%= f.label :city, 'Město', class: 'form-label label-enter-active' %>
        <%= f.text_field :city, placeholder: 'Praha', class: 'form-input form-control input-enter-active' %>
      </div>
    </div>

    <div class="d-flex input-container">
      <div class="input-container col-6">
        <%= f.label :max_capacity, 'Maximální kapacita', class: 'form-label label-enter-active' %>
        <%= f.number_field :max_capacity, min: 10, step: 10, placeholder: 1300, class: 'form-input form-control input-enter-active' %>
      </div>

      <div class="input-container col-6">
        <%= label_tag 'number_of_venues', 'Kolik máte prostorů?', class: 'form-label label-enter-active' %>
        <%= number_field_tag :number_of_venues, nil, min: 1, step: 1, placeholder: '3', class: 'form-input form-control input-enter-active' %>
      </div>
    </div>

    <div class="input-container d-flex flex-column mt-2">
      <%= label_tag nil, 'Vyberte filtry, podle nich vás zákazníci najdou', class: 'form-label' %>
      <div class="form-filters input-container">
        <% @filters.each do |filter| %>
          <div class="filter d-flex align-items-center">
            <%= f.check_box :filter_ids, { multiple: true, id: "filter_#{filter.id}", class: 'form-input form-check-input filter-checkbox m-0 me-2' }, filter.id, nil %>
            <%= label_tag "filter_#{filter.id}", filter.name, class: 'form-label form-check-label m-0' %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="input-container">
      <%= f.label :photos, 'Přidejte fotky', class: 'form-label label-enter-active' %>
      <%= f.file_field :photos, as: :files, multiple: true, class: 'form-input form-control input-enter-active' %>
    </div>

    <div class="input-container">
      <%= f.label :short_description, 'Popište nám váš prostor, stačí krátce.', class: 'form-label label-enter-active' %>
      <%= f.text_area :short_description, placeholder: 'Je moderní, minimalistický... A teď vy...', class: 'form-input form-control input-enter-active' %>
    </div>

    <div class="input-container">
      <%= f.label :long_description, 'Popište nám váš prostor, jdeme do detailů.', class: 'form-label label-enter-active' %>
      <%= f.text_area :long_description, placeholder: 'Pokud máte více prostorů v rámci vašeho komplexu povězte nám o nich...', height: 400, class: 'form-input form-control input-enter-active long-description-text-area-height' %>
    </div>

    <%#= button_tag 'Next', class: 'button-primary my-3 w-100', data: { action: 'click->multi-step-form#showVenue' } %>

    <%= f.submit "Create Place", class: 'hidden-submit button-primary my-3 w-100' %>
  <% end %>
</div>
