<div id="new-place-form">
  <h1>Create a New Place</h1>

  <%= form_for @place, html: { id: 'place-form' }, data: { controller: 'multi-step-form', action: 'submit->multi-step-form#showVenue' } do |f| %>

    <div class="input-container">
      <%= f.label :place_name, class: 'place-label' %>
      <%= f.text_field :place_name, placeholder: 'The Ritz', class: 'place-input' %>
    </div>

    <div class="input-container">
      <%= f.label :street, class: 'place-label' %>
      <%= f.text_field :street, placeholder: 'Pařížská', class: 'place-input' %>
    </div>

    <div class="input-container">
      <%= f.label :house_number, class: 'place-label' %>
      <%= f.text_field :house_number, placeholder: '345/23', class: 'place-input' %>
    </div>

    <div class="input-container">
      <%= f.label :postal_code, class: 'place-label' %>
      <%= f.text_field :postal_code, placeholder: '130 00', class: 'place-input' %>
    </div>

    <div class="input-container">
      <%= f.label :city, class: 'place-label' %>
      <%= f.text_field :city, placeholder: 'Praha', class: 'place-input' %>
    </div>

    <div class="input-container">
      <%= f.label :max_capacity, class: 'place-label' %>
      <%= f.number_field :max_capacity, min: 10, step: 10, placeholder: 1300, class: 'place-input' %>
    </div>

    <div class="input-container">
      <%= f.label :place_description, class: 'place-label' %>
      <%= f.text_area :place_description, placeholder: 'Proč váš prostor ten nej...', class: 'place-input' %>
    </div>

    <div class="input-container">
      <%= label_tag 'number_of_venues', 'Kolik máte prostorů?', class: 'place-label' %>
      <%= number_field_tag :number_of_venues, nil, min: 1, step: 1, placeholder: '3', class: 'place-input' %>
    </div>

    <%= button_tag 'Next', data: { action: 'click->multi-step-form#showVenue' } %>

    <%= fields_for :venues do |venues_fields| %>
    <% end %>

    <%= f.submit "Create Place", class: 'hidden-submit' %>
  <% end %>
</div>
