<div class="container show-places-container">
  <div class="show-banner">
    <%= link_to :back do %>
      <%= image_tag('arrow-left', class: 'go-back-arrow-grey') %>
    <% end %>
  </div>
  <h1><%= @place.place_name %></h1>

  <section id="basic-info">
    <p><%= @place.street %></p>
    <div class="d-flex">
      <% @filters.each do |filter| %>
        <p class="mx-2"><%= filter.name %></p>
      <% end %>
    </div>

    <div class="conditions-amenities-table d-flex">
      <div class="d-flex flex-column amenities w-50">
        <h3>Vybavení</h3>
        <hr class="conditions-amenities-divider-width">
      </div>
      <div class="d-flex flex-column conditions w-50">
        <h3>Podmínky</h3>
        <hr class="conditions-amenities-divider-width">
      </div>
    </div>
  </section>

  <section id="venues">
    <h2 class="my-3">Nabízené prostory</h2>
    <div class="spaces-cards place-show-spaces-cards">
      <% @venues.each do |venue| %>
        <div class="card">
          <div class="image-placeholder"></div>
          <div class="d-flex align-items-center">
            <div class="d-flex flex-column w-100">
              <div class="d-flex align-items-center my-2">
                <%= image_tag('person-grey', width: 10, class: "person-icon-margin-right") %>
                <p class="mx-2"><%= venue.capacity %></p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p><%= venue.venue_name %></p>
              </div>
              <%= link_to 'Book now!', new_place_order_path(venue.place), class: "btn btn-dark" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>

  <section id="gallery">
    <h2 class="my-3">Galerie</h2>
    <div class="image-gallery-grid">
      <% 10.times do %>
        <div class="image-card p-1">
          <div class="image-placeholder"></div>
        </div>
      <% end %>
    </div>
  </section>
</div>
