<!-- TODO: Order form, email to user and martin upon submission of the order -->
<% set_meta_tags title: @place.place_name,
                 site: 'Prostormat',
                 reverse: true,
                 description: @place.long_description.truncate(160),
                 canonical: place_url(slug: @place.slug),
                 og: {
                   title: @place.place_name,
                   description: @place.long_description.truncate(160),
                   type: 'website',
                   url: place_url(slug: @place.slug),
                   image: @place.photos.first&.url || asset_url('main_photo.jpg')
                 } %>
<div class="show-places-container" data-controller="show-page">
  <section id="main-photo" class="content-container" aria-label="Background image, first uploaded image of the place" style="background: url('<%= url_for(@place.photos.first) %>'); background-repeat: no-repeat; background-position: center; background-size: cover;">
    <div class="main-content-container">
      <h1 class="title"><%= @place.place_name %></h1>
      <p class="subtitle"><%= @place.short_description %></p>
      <div class="filters">
        <% @place.filters.each do |filter| %>
          <div class="filter-sign" aria-label="<%= filter.name %> icon">
            <%= raw File.read(Rails.root.join('app', 'assets', 'images', "#{filter.name}.svg")) %>
          </div>
        <% end %>
      </div>
    </div>
  </section>
  <section id="buttons" class="content-container ">
    <% if current_user&.admin? && !@place.primary %>
      <%= button_to 'Primary', toggle_primary_place_path(@place.slug), method: :patch, data: { turbo: false }, class: 'button-secondary button-toggle', form: {class: "inline"} %>
    <% elsif current_user&.admin? && @place.primary %>
      <%= button_to 'Unprimary', toggle_primary_place_path(@place.slug), method: :patch, data: { turbo: false }, class: 'button-secondary button-toggle', form: {class: "inline"} %>
    <% end %>
    <% if @place.user == current_user || current_user&.admin? %>
      <%= link_to 'Upravit prostor', edit_place_path(@place.slug), class: "button-primary button-edit" %>
    <% end %>
  </section>
  <section id="content" class="content-container">
    <div class="form-map-column">
      <div class="order-form-container show-section-container">
        <div class="section-title">
          <div class="section-sign" aria-label="envelope icon"><%= raw File.read(Rails.root.join('app', 'assets', 'images', 'envelope.svg')) %></div>
          <h2>Zpráva pro majitele</h2>
        </div>

        <%= form_with model: [@place, @order], url: place_orders_path(@place.slug), local: true, data: { turbo: false }, class: "order-form" do |f|%>
          <%= hidden_field_tag 'place_id', @place.id %>
          <div class="bokee-info">
            <%= f.fields_for :bokee do |field_for_bokee| %>
              <%= field_for_bokee.text_field :full_name, placeholder: 'Celé jméno' %>

              <%= field_for_bokee.text_field :email, placeholder: 'Email' %>

              <%= field_for_bokee.text_field :phone_number, placeholder: 'Tel. číslo' %>
            <% end %>
          </div>

          <div class="event-info">
            <%= f.text_field :event_type, placeholder: 'Typ události' %>
            <%= render 'shared/datepickr', input_name: 'order[date]' %>
          </div>

          <%= f.text_area :message, placeholder: 'Zde dopište cokoliv je potřeba specifikovat, optat, nebo vyjasnit!', class: "event-details-textarea", min: Date.today.to_s %>

          <!-- Turnstile captcha -->
          <div class="cf-turnstile" data-sitekey="<%= ENV.fetch('TURNSTILE_SITE_KEY') %>"></div>

          <%= f.submit 'Poslat poptávku', class: 'button-primary' %>
        <% end %>
      </div>
      <div class="show-section-container">
        <div class="section-title">
          <div class="section-sign" aria-label="map pin icon"><%= raw File.read(Rails.root.join('app', 'assets', 'images', 'map_pin.svg')) %></div>
          <h2>Kde se nacházíme?</h2>
        </div>
        <div class="full-address-container">
          <div class="full-address-content" aria-label="map pin outline icon">
            <%= raw File.read(Rails.root.join('app', 'assets', 'images', 'map_pin_outline.svg')) %>
            <p class="full-address"><%= @place.full_address %></p>
          </div>
        </div>
        <div id="map-container" data-show-page-target="mapContainer" data-action="click->show-page#openMaps">
          <%= image_tag("https://api.mapbox.com/styles/v1/prostormat/cly4po3z400ap01nwew8ygqek/static/#{@marker_overlay}/#{@place.longitude},#{@place.latitude},15/450x450@2x?access_token=#{ENV.fetch('MAPBOX_API_KEY')}", alt: 'Mapbox static map image') %>
        </div>
      </div>
    </div>
    <div class="desc-gallery-column">
      <div class="long-desc-container show-section-container">
        <div class="section-title">
          <div class="section-sign" aria-label="paragraph icon"><%= raw File.read(Rails.root.join('app', 'assets', 'images', 'paragraph.svg')) %></div>
          <h2>Popis</h2>
        </div>
        <p class="description-content"><%= @place.long_description %></p>
      </div>
      <div class="gallery-container show-section-container">
        <div class="section-title">
          <div class="section-sign" aria-label="color palette icon"><%= raw File.read(Rails.root.join('app', 'assets', 'images', 'pallete.svg')) %></div>
          <h2>Galerie</h2>
        </div>
        <div class="gallery">
          <% @place.photos.each_with_index do |photo, index| %>
            <div
              class="photo"
              data-photo-url="<%= photo.url %>"
              data-show-page-target="picture"
              data-action="click->show-page#showPictureModal"
              style="background: url('<%= photo.url %>'); background-repeat: no-repeat; background-position: center; background-size: cover;"
              aria-label="<%= "Place uploaded image #{index}" %>"
            >
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </section>
  <div class="modal-overlay" style="display: none;" data-show-page-target="overlay" data-action="click->show-page#hidePictureModal"></div>
  <div class="modal-photo-container" style="display: none;" data-show-page-target="pictureModalContainer">
    <div class="photo-modal" data-show-page-target="pictureModal"></div>
  </div>
  <script>
    window.lat = "<%= j @place.latitude %>"
    window.lng = "<%= j @place.longitude %>"
  </script>
</div>
