<!-- TODO: Order form, email to user and martin upon submission of the order -->
<div class="container show-places-container d-flex flex-column">
  <div class="content-gallery-gap d-flex justify-content-between">
    <div id="show-page-content d-flex" class="w-100">
      <div class="d-flex">
      </div>
      <div class="d-flex justify-content-between w-100">
        <div class="d-flex flex-column w-100">
          <h1 class="place-title-size"><%= @place.place_name %></h1>
          <div class="d-flex justify-content-between">
            <p class="address"><%= @place.street %> <%= @place.house_number %>, <%= @place.postal_code %>, <%= @place.city %></p>
            <div class="d-flex">
              <%= image_tag('person-grey.svg', width: 10, class: "me-2") %>
              <p class="capacity"><%= @place.max_capacity %></p>
            </div>
          </div>
        </div>
        <div class="d-flex buttons-container">
          <div class="buttons-relative">
            <% if current_user&.admin? && !@place.primary %>
              <%= button_to toggle_primary_place_path(@place), method: :patch, data: { turbo: false }, class: 'button-primary star-primary button-absolute d-flex justify-content-center align-items-center', form: {class: "inline"} do %>
                <%= image_tag('star-solid.svg', width: 20) %>
              <% end %>
            <% elsif current_user&.admin? && @place.primary %>
              <%= button_to toggle_primary_place_path(@place), method: :patch, data: { turbo: false }, class: 'button-primary star-primary button-absolute', form: {class: "inline"} do %>
                <%= image_tag('star-regular.svg', width: 20) %>
              <% end %>
            <% end %>
            <div>
              <% if @place.user == current_user || current_user&.admin? %>
                <%= link_to edit_place_path(current_user.places.first), class: "edit-link-button button-absolute" do %>
                  <%= image_tag('pen-solid.svg', width: 20) %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <section id="basic-info mb-5">
        <div>
          <h4 class="mt-5"><%= @place.short_description %></h4>
        </div>
      </section>

      <div class="order-form-dropdown" data-controller="show-page">
        <div class="title-order-form d-flex justify-content-between">
          <h4>Poslat poptávku</h3>
          <%= image_tag('chevron-down-solid (1).svg', width: 30, data: { action: 'click->show-page#dropDown', show_page_target: "dropDownChevron" }) %>
        </div>
        <div id="order-form" data-show-page-target="orderForm">
          <%= form_with model: [@place, @order], local: true, data: { turbo: false } do |f|%>
            <div class="d-flex">
              <%= f.text_field :event_type, placeholder: 'Máte firemní akci nebo narozeniny?', class: 'form-control order-input' %>

              <%= f.date_field :date, placeholder: 'Jaký den?', class: 'form-control date-input order-input', min: Date.today.to_s %>
            </div>

            <%= f.fields_for :bokee do |field_for_bokee| %>
              <div class="d-flex">
                <%= field_for_bokee.text_field :full_name, placeholder: 'Vaše celé jméno', class: 'form-control order-input' %>

                <%= field_for_bokee.text_field :email, placeholder: 'Váš email', class: 'form-control order-input' %>

                <%= field_for_bokee.text_field :phone_number, placeholder: 'Vaše telefonní číslo', class: 'form-control order-input' %>
              </div>
            <% end %>
            <div class="d-flex">
              <%= f.text_area :message, placeholder: 'Zde dopište cokoliv je potřeba specifikovat, optat, nebo vyjasnit!', class: 'form-control message-input order-input', min: Date.today.to_s %>
            </div>
            <div class="d-flex">
              <%= f.submit 'Poslat poptávku', class: 'button-primary w-100 submit-button-margin' %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="long-description mt-4">
        <h4>O nás</h4>
        <p><%= @place.long_description %></p>
      </div>
    </div>

    <% cache [@place, 'gallery', @place.photos.maximum(:created_at)] do %>
      <div id="gallery" class="w-100" data-controller="loader">
        <section>
          <div class="image-gallery-grid">
            <% @place.photos.each do |photo| %>
              <div class="image-container">
                <div class="image-loader"></div>
                <%= cl_image_tag photo.key, height: 200, quality: "auto", fetch_format: "auto", class: "image-card", class: "image-card", data: { action: "load->loader#handleImageLoad"} %>
              </div>
            <% end %>
          </div>
        </section>
      </div>
    <% end %>
    <% puts Rails.cache.exist?([@place, 'gallery', @place.photos.maximum(:created_at)]) %>
  </div>
  <h2 class="my-3">Podobná místa</h2>
  <div class="spaces-cards" id="index-card-grid" data-controller="search">
    <%= render 'shared/places_card_grid', collection: @places, cache: true %>
  </div>
</div>
